{{#each products}}
<div class="row" style="margin-bottom:20px">
  {{#each this}}
  <div class="col-sx-12 col-sm-6 col-md-4" style="width: 20rem;">
    <div class="card">
      <img class="card-img-top" src="images/shop/{{imagePath}}" alt="">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{description}}</p>
        <p class="price">${{price}}</p>
        <a href="/add-to-cart/{{_id}}" class="btn btn-success pull-right">Add To Cart</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}