<div class="row">
    <div class="col-md-4">
        <form id="frmData" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imagePath" class="control-label">Picture</label>
                <input type="file" name="imagePath" id="imagePath" class="form-control">
            </div>
            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <input type="text" name="description" id="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="price" class="control-label">Price</label>
                <input type="number" name="price" id="price" class="form-control">
            </div>
            <a id="reset" href="#" class="btn btn-primary">Reset</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        <div class="clearfix">&nbsp;</div>
        <p>
            <span id="status"></span>
            <input type="hidden" name="id" id="id" value="">
        </p>
    </div>
    <div class="col-md-8">
        <table id="tblData" class="table">
            <thead>
                <tr>
                    <th scope="col">Resim</th>
                    <th scope="col">Ürün</th>
                    <th scope="col" class="text-right">Tutar</th>
                    <th scope="col" class="text-center">#</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <img class="img-thumbnail" style="width: 75px; height: 75px;" src="/images/shop/{{imagePath}}" alt="">
                    </td>
                    <td>
                        <strong>{{title}}</strong>
                        <div class="clearfix"></div>
                        <small>{{description}}</small>
                    </td>
                    <td class="text-right">${{ price }}</td>
                    <td class="text-right">
                        <a href="/product/{{_id}}" class="btn btn-success">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        const form = document.getElementById('frmData');
        form.addEventListener('submit', function (e) {
            $('#status').empty().text('İşleminiz gerçekleştiriliyor...');

            const imagePath = document.getElementById('imagePath').files[0];

            const oData = new FormData(form);
            const oReq = new XMLHttpRequest();

            const id = $('#id').val();
            if (id === '') {
                oReq.open('post', '/product/add', true);
            } else {
                oReq.open('post', '/product/update/' + id, true);
            }
            oReq.onload = function (oEvent) {
                if (oReq.status == 201) {
                    // GELEN DATA JSON OBJESİNE ÇEVİRMEK
                    var m = JSON.parse(oReq.response);
                    var item = `
                        <td><img class="img-thumbnail" style="width: 75px; height: 75px;" src="/images/shop/${m.imagePath}" alt=""></td>
                        <td>
                            <strong>${m.title}</strong>
                            <div class="clearfix"></div>
                            <small>${m.description}</small>
                        </td>
                        <td class="text-right">${m.price}</td>
                        <td class="text-right"><a href="/product/${m._id}" class="btn btn-success">Edit</a></td>`;
                    if (m.isUpdate) {
                        $('#tr_' + m._id).html(item);
                    } else {
                        var list = $('#tblData');
                        var div = `
                            <tr id='tr_${m._id}' class="col-sm-6 col-md-4">
                                ${item}
                            </tr>`;
                        list.prepend(item);
                    }
                    $('#status').empty();
                } else {
                    $('#status').empty().text('Bu işlem gerçekleştirilirken hata oluştu..');
                }
            };

            oReq.send(oData);
            e.preventDefault();
        });

        $(document).on('click', '#frmData #reset', function () {
            $('#id').val('');
            $('#frmData input').val('');
            return false;
        });

        $(document).on('click', '#tblData a', function () {
            $.get(
                $(this).attr('href')
            ).done((m) => {
                $('#id').val(m._id);
                $('#title').val(m.title);
                $('#description').val(m.description);
                $('#price').val(m.price);
            })
            return false;
        });
    });
</script>