{{#if products}}
<h1>Shopping Cart</h1>
<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-sm-8 col-md-10 -col-md-offset-2 col-sm-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Resim</th>
                    <th scope="col">Ürün</th>
                    <th scope="col" class="text-center">Adet</th>
                    <th scope="col" class="text-right">Tutar</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td>
                        <img class="img-thumbnail" style="width: 75px; height: 75px;" src="/images/shop/{{this.item.imagePath}}"
                            alt="">
                    </td>
                    <td>
                        <strong>{{this.item.title}}</strong>
                        <div class="clearfix"></div>
                        <small>{{this.item.description}}</small>
                    </td>
                    <td class="text-center">{{ this.qty }}</td>
                    <td class="text-right">${{ this.price }}</td>
                </tr>
                {{/each}}
                <tr style="font-weight:600">
                    <td colspan="3" class="text-right">Total</td>
                    <td class="text-center">{{ totalQty }}</td>
                    <td class="text-right">${{ totalPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-sm-8 col-md-10 -col-md-offset-2 col-sm-offset-2 text-right">
        <a href="/checkout" class="btn btn-success">Checkout</a>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offse3">
        <h1>No Items in Cart</h1>
    </div>
</div>
{{/if}}